.idea
vendor
cache/*
dist

# Specific Files
.phpunit.cache
.nativecli.json
test-dir

# Tests
tests/data/tmp
!tests/data/tmp/.gitkeep

# Mac
.DS_Store
Thumbs.db

# AI
.claude
.junie

# Internal Planning
V2_FEATURES_REQUIREMENTS.md